

<div class="profile-cover <% unless @user.has_cover_image %> empty <%end%>">

	<% if @user.has_cover_image %>
		<%= image_tag @user.cover_image.url(:large), class: "profile-cover-image" %>
	<%end%>

	<div class="profile-info">

		<ul>

			<li><%= image_tag @user.image.url(:medium), class: "profile-user-image" %></li>

			<li>

				<h2 class="name"><%= @user.display_name %></h2>

				<h3>Producer</h3>

			</li>

		</ul>

	</div>

</div>

<div class="profile-header">

	<div class="centered-content">

		<ul>
			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Posts</a>
			</li>

			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Subscribers</a>
			</li>

			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Works</a>
			</li>

		</ul>

	</div>

	<a class="user-cta">
		Subscribe
	</a>

</div>

<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<% @user.posts.each do |post| %>

				<div class="content-frame stacked">

				  <div class="content-panel list">

				    <div class="user-info-header">

				      <div class="user-info-image">
				        <%= image_tag post.user.image.url(:medium), class: "tiny-profile-image" %>
				      </div>

				      <div class="user-info-name">

				        <span class="post-display-name"><%= link_to post.user.display_name, profile_page_path(post.user.display_name) %></span>
				        <span class="post-date"><%= post.created_at %></span>

				      </div>
				      

				    </div>

				    <div class="user-post-content">

				      <h5><%= post.title %></h5>

				      <p><%= post.body %></p>

				    </div>

				  </div>

				</div>

			<%end%>

		</div>

		<div class="side-content-column">

			<h4>For Sale</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<br>

			<h4>Requests</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>
