

<div class="profile-cover <% unless @user.has_cover_image %> empty <%end%>">

	<% if @user.has_cover_image %>
		<%= image_tag @user.cover_image.url(:large) %>
	<%end%>

	<div class="profile-info">

		<ul>

			<li><%= image_tag @user.image.url(:medium) %></li>

			<li>

				<h2 class="name"><%= @user.display_name %></h2>

				<h3>Producer</h3>

			</li>

		</ul>

	</div>

</div>

<div class="profile-header">

	<div class="centered-content">

		<ul>
			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Posts</a>
			</li>

			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Subscribers</a>
			</li>

			<li>
				<span class="profile-header-numbers"><a>122</a></span><a>Works</a>
			</li>

		</ul>

	</div>

	<a class="user-cta">
		Subscribe
	</a>

</div>

<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="content-frame stacked">

				<div class="content-panel list">

					<div class="user-info-header">

						<div class="user-info-image">
							<%= image_tag @user.image.url(:medium), class: "tiny-profile-image" %>
						</div>

						<div class="user-info-name">

							<a class="profile-name"><%= @user.display_name %><br>August 21, 2016</a>

						</div>
						

					</div>

					<div class="user-post-content">

						<h5>Title of my Post</h5>

						<p>Maybe jsut a formatted twitter feed</p>

					</div>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<div class="user-info-header">

						<div class="user-info-image">
							<%= image_tag @user.image.url(:medium), class: "tiny-profile-image" %>
						</div>

						<div class="user-info-name">

							<a class="profile-name"><%= @user.display_name %><br>August 21, 2016</a>

						</div>
						

					</div>

					<div class="user-post-content">

						<h5>Title of my Post</h5>

						<p>Maybe jsut a formatted twitter feed</p>

					</div>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<div class="user-info-header">

						<div class="user-info-image">
							<%= image_tag @user.image.url(:medium), class: "tiny-profile-image" %>
						</div>

						<div class="user-info-name">

							<a class="profile-name"><%= @user.display_name %><br>August 21, 2016</a>

						</div>
						

					</div>

					<div class="user-post-content">

						<h5>Title of my Post</h5>

						<p>Maybe jsut a formatted twitter feed</p>

					</div>

				</div>

			</div>

		</div>

		<div class="side-content-column">

			<h4>For Sale</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<br>

			<h4>Requests</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>
