

<div class="profile-cover <% unless @user.has_cover_image %> empty <%end%>">

	<% if @user.has_cover_image %>
		<%= image_tag @user.cover_image.url(:large), class: "profile-cover-image" %>
	<%end%>

	<div class="profile-info">

		<ul>

			<li><%= image_tag @user.image.url(:medium), class: "profile-user-image" %></li>

			<li>

				<h2 class="name"><%= @user.display_name %></h2>

				<h3>Producer</h3>

			</li>


			<li class="for-mobile">

				<% if current_user.is_following(@user.id)  %>

					<a class="user-cta subscribe-cta following" data-following-id="<%= @user.id%>">
						Following
					</a>

				<% else %>

					<a class="user-cta subscribe-cta" data-following-id="<%= @user.id%>">
						Follow
					</a>

				<% end %>

			</li>


		</ul>

	</div>

</div>

<div class="profile-header">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
				<a><span class="profile-header-numbers"><%= @user.posts.count %></span><br>Posts</a>
			</li>

<!-- 			<li class="profile-header-option" id="profile_option_works" data-option-type="works">
				<a><span class="profile-header-numbers">122</span><br>Communities</a>
			</li> -->

			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
				<a><span class="profile-header-numbers"><%= @user.followers.count %></span><br>Followers</a>
			</li>

		</ul>

	</div>

	<% if current_user.is_following(@user.id)  %>

		<a class="user-cta subscribe-cta following" data-following-id="<%= @user.id%>">
			Following
		</a>

	<% else %>

		<a class="user-cta subscribe-cta" data-following-id="<%= @user.id%>">
			Follow
		</a>

	<% end %>

</div>

<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="column-content" id="column_content_posts">

				<% @user.posts.reverse.each do |post| %>

					<div class="content-frame stacked">

					  <div class="content-panel list">

					    <div class="user-info-header">

					      <div class="user-info-image">
					        <%= image_tag post.user.image.url(:medium), class: "tiny-profile-image" %>
					      </div>

					      <div class="user-info-name">

					        <span class="post-display-name"><%= link_to post.user.display_name, profile_page_path(post.user.display_name) %></span>
					        <span class="post-date"><%= post.created_at.strftime("%b %d, %Y") %></span>

					      </div>
					      

					    </div>

					    <div class="user-post-content">

					      <h5><%= post.title %></h5>

					      <p><%= post.body %></p>

					    </div>

					  </div>

					</div>

				<%end%>

			</div>

			<div class="column-content default-off" id="column_content_subscribers">
				
				<% @user.followers.each do |follower| %>

					<div class="content-frame stacked">

					  <div class="content-panel list">

					    <div class="user-info-header">

					      <div class="user-info-image">
					        <%= image_tag follower.image.url(:medium), class: "tiny-profile-image" %>
					      </div>

					      <div class="user-info-name">

					        <span class="post-display-name"><%= link_to follower.display_name, profile_page_path(follower.display_name) %></span>

					      </div>
					      

					    </div>

					  </div>

					</div>

				<%end%>

			</div>

			<div class="column-content default-off" id="column_content_work">
				work
			</div>

		</div>

		<div class="side-content-column">

			<h4>For Sale</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<br>

			<h4>Requests</h4>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

			<div class="content-frame stacked">

				<div class="content-panel list">

					<p>You have 6 new requests for beats totalling $4,000.</p>

				</div>

			</div>

		</div>

	</div>

</div>
