

<div class="profile-cover <% unless @user.has_cover_image %> empty <%end%>">

	<% if @user.has_cover_image %>
		<%= image_tag @user.cover_image.url(:large), class: "profile-cover-image" %>
	<%end%>

	<div class="profile-info">

		<ul>

			<li><%= image_tag @user.image.url(:medium), class: "profile-user-image" %></li>

			<li>

				<h2 class="name"><%= @user.display_name %></h2>

				<h3>Producer</h3>

			</li>


			<li class="for-mobile">

				<%= render 'pages/users/follow_cta_mobile' %>

			</li>


		</ul>

	</div>

</div>

<div class="profile-header">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
				<a><span class="profile-header-numbers"><%= @user.posts.count %></span><br>Posts</a>
			</li>

			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
				<a><span class="profile-header-numbers"><%= @user.followers.count %></span><br>Followers</a>
			</li>

		</ul>

	</div>

	<%= render 'pages/users/follow_cta' %>

</div>

<div class="content">

	<div class="content-box">

		<div class="three-columns first">

			<div class="dashboard-profile clickable">

				<h4>Communities</h4>

				<div class="dashboard-profile-content">

					<% Community.all.each do |community| %>

						  <div class="content-panel list">

						  	<p><%= community.name %></p>

						  </div>

					<%end%>

				</div>

			</div>

			<div class="dashboard-profile mobile">

				<h4>For Sale</h4>

				<div class="dashboard-profile-content">

					<% Community.all.each do |community| %>

						  <div class="content-panel list">

						  	<p><%= community.name %></p>
						  </div>

					<%end%>

				</div>

			</div>

		</div>

		<div class="three-columns second">

			<div class="column-content" id="column_content_posts">

				<% current_user.posts.reverse.each do |post| %>

					<div class="post-frame">

						<div class="post-panel image">
							
							<%= image_tag post.user.image.url(:medium), class: "tiny-profile-image" %>
						
						</div>

						<div class="post-panel message">

							<span class="post-user"><%= link_to post.user.display_name, profile_page_path(post.user.display_name) %></span><span class="divider">&#183;</span><span class="post-time"><%= post.created_at.strftime("%b %d, %Y") %></span>
							<br>
							<p><%= post.body %></p>

						</div>

					</div>

				<%end%>

			</div>


			<div class="column-content default-off" id="column_content_subscribers">

				<% @user.followers.each do |follower| %>

					<div class="content-frame stacked">

					  <div class="content-panel list">

					    <div class="user-info-header">

					      <div class="user-info-image">
					        <%= image_tag follower.image.url(:medium), class: "tiny-profile-image" %>
					      </div>

					      <div class="user-info-name">

					        <span class="post-display-name"><%= link_to follower.display_name, profile_page_path(follower.display_name) %></span>

					      </div>
					      

					    </div>

					  </div>

					</div>

				<%end%>

			</div>

		</div>

		<div class="three-columns third">
		
			<div class="dashboard-profile">

				<h4>For Sale</h4>

				<div class="dashboard-profile-content">

					<% Community.all.each do |community| %>

					  <div class="content-panel list">

					  	<a href="<%= community_path(community.name) %>"><p><%= community.name %></p></a>

					  </div>

					<%end%>

				</div>

			</div>

		</div>

	</div>

</div>