<%= form_for(@new_post) do |f| %>

  <div class="content-frame stacked form">

    <div class="content-panel list">

      <h5 class="form-header green-text-background" id="link" style="display:none;"><span class="glyphicon glyphicon-link"></span>New Link</h5>

      <h5 class="form-header red-text-background" id="photo" style="display:none;"><span class="glyphicon glyphicon-camera"></span>New Photo</h5>

      <h5 class="form-header blue-text-background" id="discussion" style="display:none;"><span class="glyphicon glyphicon-comment"></span>New Discussion</h5>

      <div class="user-post-content">

        <% if current_user.admin %>

          <%= collection_select(:post, :user_id, User.all, :id, :display_name) %>

        <% end %>

        <%= f.text_field :title, placeholder: "Title", :autocomplete => :off, autofocus: true %>

        <%= f.text_field :url, placeholder: "Link", :autocomplete => :off %>

        <%= f.text_area :body, placeholder: "Additional Text (Optional)", :autocomplete => :off %>

        <%= collection_select(:post, :community_id, Community.all, :id, :name )%>

         <%= f.submit 'Publish', :class=> 'new-post-submit gold-text-background' %>

      </div>

     

      <% if @new_post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@new_post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @new_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    </div>

  </div>

</div>

<% end %>
