<div class="post-frame">

  <% if post.image %>
  
    <div class="post-panel image">
      
      <%= image_tag post.image.url(:medium), class: "small-post-image" %>
    
    </div>

  <%end%>

  <div class="post-panel message">

    <span class="post-title"><% if post.url%><%= link_to post.title, post.url %><%else%><%= link_to post.title, post_path(post.id) %><%end%></span>
    <span class="submitter">Submitted on <%= post.created_at.strftime("%b %e") %> by <a href="<%=profile_page_path(post.user.display_name)%>"><%= image_tag post.user.image.url(:medium), class: "tiny-user-image" %><%= post.user.display_name %></a></span> in
    <span class="post-community"><%= link_to "10th Nation", community_path(1)%></span>
    <br>
    <span class="post-comments"><%= link_to post.comments.count.to_s + " Comments", post_path(post.id) %></span><span class="divider">&#183;</span><span class="post-share">Share</span>

    <% if @commentable %>
      <a class="comment-cta">Comment</a>
    <%end%>

  </div>

</div>
