<div class="post-frame">

  <div class="upvote">

    <div class="vote" id="up" data-post-id="<%= post.id %>">

      <%if user_signed_in? %>
      
        <span class="up-vote up-vote-enabled glyphicon glyphicon-circle-arrow-up <% if current_user.has_upvote(post.id) %>active<%end%>" title="Upvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>
      
      <%else%>

        <span class="up-vote up-vote-disabled glyphicon glyphicon-circle-arrow-up" title="Upvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>

      <%end%>

    </div>

    <div class="count">

      <a class="vote-count"><%= post.vote_count %></a>

    </div>

    <div class="vote" id="down" data-post-id="<%= post.id %>">

      <%if user_signed_in? %>
        
        <span class="down-vote down-vote-enabled blue glyphicon glyphicon-circle-arrow-down <% if current_user.has_downvote(post.id) %>active<%end%>" title="Downvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>
      
      <%else%>

         <span class="down-vote down-vote-disabled blue glyphicon glyphicon-circle-arrow-down" title="Downvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>

      <%end%>

    </div>

  </div>

  <div class="post-content">
  
<!--     <%# if post.community.image %>
    
      <div class="post-panel image">
        
        <%# image_tag post.community.image.url(:medium), class: "small-post-image" %>
      
      </div>

    <%#end%> -->

    <div class="post-panel message">

      <span class="post-community-mobile"><% if post.community_id %><%= link_to post.community.name, community_page_path(post.community.url_name), class:"community-detail" %><%end%><span class="divider">&#183;</span><%= link_to post.user.display_name, profile_page_path(post.user.display_name) %><span class="divider">&#183;</span><%= time_ago_in_words(post.created_at) %> ago <%# post.created_at.strftime("%b %e") %></span>

      <div class="post-title">
        
        <span class="post-title <% if @commentable %>commentable<%end%>"><% if post.url %><%= link_to post.title, post.url, class:"post-title-link" %><%else%><%= link_to post.title, post_path(post.id), class:"post-title-link" %><%end%></span>

      </div>

      <div class="post-submission-details">

        <span class="submitter">Submitted by <a href="<%=profile_page_path(post.user.display_name)%>"><%= image_tag post.user.image.url(:medium), class: "tiny-user-image" %><%= post.user.display_name %></a> <%= time_ago_in_words(post.created_at) %> ago in</span>

        <span class="post-community"><% if post.community_id %><%= link_to post.community.name, community_page_path(post.community.url_name), class:"community-detail" %><%end%></span>

      </div>
      
      <% if @show_post_details %>

        <span class="post-body"><%= post.body %></span>

      <%end%>

      <div class="post-actions">

        <span class="post-comments"><a href=" <%= post_path(post.id) %>"><%= post.comments.count %> <%= "Comment".pluralize(post.comments.count) %></a></span>
        <span class="divider">&#183;</span>
        <span class="post-share">Share</span>
        <span class="divider">&#183;</span>
        <span class="post-share">Email it to me</span>
        
        <div class="mobile-actions">
          
          <%if user_signed_in?%>
            
            <span class="up-vote up-vote-enabled glyphicon glyphicon-circle-arrow-up <% if current_user.has_upvote(post.id) %>active<%end%>" title="Upvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>
            
            <span class="down-vote down-vote-enabled glyphicon glyphicon-circle-arrow-down <% if current_user.has_downvote(post.id) %>active<%end%>" title="Downvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>

          <%else%>

            <span class="up-vote up-vote-disabled glyphicon glyphicon-circle-arrow-up" title="Upvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>
            
            <span class="down-vote down-vote-disabled glyphicon glyphicon-circle-arrow-down" title="Downvote" data-post-id="<%= post.id %>" aria-hidden="true"></span>

          <%end%>

          <span class="vote-count mobile"><%= post.vote_count %></span>
        
        </div>

      </div>

      <% if @commentable %>
        
        <a class="comment-cta <% if user_signed_in?%>comment-cta-modal <%else%>login-modal-cta<%end%>"><span class="comment glyphicon glyphicon-comment" aria-hidden="true"></span></a>
      
        <div class="mobile-cta">
          
          <span class="comment <% if user_signed_in?%>comment-cta-modal <%else%>login-modal-cta<%end%> bright-blue glyphicon glyphicon-comment" title="Add a Comment" aria-hidden="true"></span>

        </div>

      <%end%>

    </div>

  </div>

</div>
