<div class="post-frame">

  <% if post.image %>
  
    <div class="post-panel image">
      
      <%= image_tag post.image.url(:medium), class: "small-post-image" %>
    
    </div>

  <%end%>

  <div class="post-panel message">

    <span class="post-title <% if @commentable %>commentable<%end%>"><% if post.url %><%= link_to post.title, post.url %><%else%><%= link_to post.title, post_path(post.id) %><%end%></span>
    <span class="submitter">Submitted on <%= post.created_at.strftime("%b %e") %> by <a href="<%=profile_page_path(post.user.display_name)%>"><%= image_tag post.user.image.url(:medium), class: "tiny-user-image" %><%= post.user.display_name %></a> in </span>
    <span class="post-community"><%= link_to "10th Nation", community_path(1)%></span>
    <br>
    
    <% if @show_post_details %>

      <span class="post-body"><%= post.body %></span>

    <%else%>

      <span class="post-comments"><a href=" <%= post_path(post.id) %>"><%= post.comments.count %> <%= "Comment".pluralize(post.comments.count) %></a></span>
      <span class="divider">&#183;</span>
      <span class="post-share">Share</span>
      <span class="divider">&#183;</span>
      <span class="post-share">Email it to me</span>

    <%end%>


    <% if @commentable %>
      <a class="comment-cta">Comment</a>
    <%end%>

    <% if @commentable %>
      <a class="comment-cta-mobile">Comment</a>
    <%end%>

  </div>

</div>
