<div class="post-frame">

  <% if post.image %>
  
    <div class="post-panel image">
      
      <%= image_tag post.image.url(:medium), class: "small-post-image" %>
    
    </div>

  <%end%>

  <div class="post-panel message">

    <span class="post-title"><%= link_to post.title, post_path(post.id) %></span>
    <span class="submitter">Submitted on <%= post.created_at.strftime("%b %e") %> by <%= image_tag post.user.image.url(:medium), class: "tiny-user-image" %><%= link_to post.user.display_name, profile_page_path(post.user.display_name) %></span> in
    <span class="post-community"><%= link_to "10th Nation", community_path(1)%></span>
    <br>
    <span class="post-comments">60 Comments</span><span class="divider">&#183;</span><span class="post-share">Share</span>

  </div>

</div>
