<nav class="navbar navbar-default header-fixed" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to "10TH", root_path, class: "navbar-brand site-title" %>

  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    
    <ul class="nav navbar-nav navbar-left">
      
      <% if user_signed_in? %>
      	
      	<li><%= link_to "Communities", communities_path %></li> 
      
      <% else %>

      	<li><%= link_to "About", about_path %></li> 

      <%end%>

    </ul>

    <ul class="nav navbar-nav navbar-right">
    	
      <% if user_signed_in?%>

	    	<li>

		    	<div class="dropdown">

  					<a class="btn dropdown-toggle" type="button" data-toggle="dropdown">
  						<%= image_tag current_user.image.url(:medium), class: "header-image" %>
  	  				<span class="caret"></span></a>
  					  <ul class="dropdown-menu">
  					  	<% unless current_user.display_name == "" %><li><a href="<%= profile_page_path(current_user.display_name)%>">Profile</a></li><%end%>
  					  	
  					  	<li><a href="#">Messages</a></li>
  					  	
  					  	<li><a href="<%= requests_path %>">Requests</a></li>
  					  	
  					  	<li class="dropdown-logout-option"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  						
  					  </ul>
		      	</div>
            
	      	</li>

          <li><a class="header-cta blue" id="new-post">New Post</a></li>


      	<%else%>

      		<li><%= link_to "Login", new_user_session_path %></li>

			<li><%= link_to "Join", new_user_registration_path %></li>

      	<%end%>

    </ul>

  </div><!-- /.navbar-collapse -->
</nav>