<div class="profile-cover cover <%# unless @user.has_cover_image %> empty <%#end%>">

  <%# if community.has_cover_image %>
    <%# image_tag community.cover_image.url(:large), class: "profile-cover-image" %>
  <%#end%>

  <div class="profile-info">

    <ul>

      <li><%= image_tag community.image.url(:medium), class: "profile-user-image squared cover" %></li>

      <li>

        <h2 class="name"><%= community.name %></h2>

        <h3 class="community">Community</h3>

      </li>


      <li class="for-mobile">

        <% if current_user.is_following_community(community.id)  %>

          <a class="user-cta follow-community-cta following" data-following-id="<%= community.id%>">
            &#10004; Following
          </a>

        <% else %>

          <a class="user-cta follow-community-cta" data-following-id="<%= community.id%>">
            Follow
          </a>

        <% end %>


          <% if current_user.is_member_of_community(community.id)  %>

            <a class="user-cta join-community-cta following community" data-following-id="<%= community.id%>">
              &#10004; Member
            </a>

          <% else %>

            <a class="user-cta join-community-cta community" data-following-id="<%= community.id%>">
              Join Community
            </a>

          <% end %>

      </li>

    </ul>

  </div>

</div>
