<div class="profile-cover <%# unless @user.has_cover_image %> empty <%#end%>">

  <%# if @community.has_cover_image %>
    <%# image_tag @community.cover_image.url(:large), class: "profile-cover-image" %>
  <%#end%>

  <div class="profile-info">

    <ul>

      <li><%= image_tag @community.image.url(:medium), class: "profile-user-image squared" %></li>

      <li>

        <h2 class="name"><%= @community.name %></h2>

        <h3 class="community">Community</h3>

      </li>


      <li class="for-mobile">

        <% if current_user.is_following_community(@community.id)  %>

          <a class="user-cta follow-community-cta following" data-following-id="<%= @community.id%>">
            &#10004; Subscribed
          </a>

        <% else %>

          <a class="user-cta follow-community-cta" data-following-id="<%= @community.id%>">
            Subscribe
          </a>

        <% end %>


<!--           <%# if current_user.is_member_of_community(@community.id)  %>

            <a class="user-cta join-community-cta following community" data-following-id="<%# @community.id%>">
              &#10004; Member
            </a>

          <%# else %>

            <a class="user-cta join-community-cta community" data-following-id="<%# @community.id%>">
              Join Community
            </a>

          <%# end %> -->

      </li>

    </ul>

  </div>

</div>

<div class="profile-header">

  <div class="centered-content">

    <ul>
      <li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
        <a>Posts</a>
      </li>

      <li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
        <a>Subscribers</a>
      </li>

      <li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
        <a>Citizens</a>
      </li>

    </ul>

    <% if current_user.is_following_community(@community.id)  %>

      <a class="user-cta follow-community-cta following community" data-following-id="<%= @community.id%>">
        &#10004; Subscribed
      </a>

    <% else %>

      <a class="user-cta follow-community-cta community" data-following-id="<%= @community.id%>">
        Subscribe
      </a>

    <% end %>

  </div>



<!--   <%# if current_user.is_member_of_community(@community.id)  %>

    <a class="user-cta join-community-cta following community" data-following-id="<%# @community.id%>">
      &#10004; Member
    </a>

  <%# else %>

    <a class="user-cta join-community-cta community" data-following-id="<%# @community.id%>">
      Join
    </a>

  <%# end %> -->

</div>


<div class="content">

  <div class="content-box">

    <div class="main-content-column">

      <div class="column-content" id="column_content_posts">

        <% Post.all.reverse.each do |post| %>

          <%= render :partial => 'posts/list', :locals => {:post => post} %>

        <%end%>

      </div>

      <div class="column-content" id="column_content_subscribers">

        <% Post.all.reverse.each do |post| %>

          <%= render :partial => 'posts/list', :locals => {:post => post} %>

        <%end%>

      </div>

    </div>

    <div class="side-content-column">

      <h4>Filter</h4>

      <div class="content-frame stacked">

        <div class="content-panel">

          <p>Improve Your Account</p>

        </div>

      </div>

    </div>

  </div>

</div>
