<div class="profile-header dashboard" id="dashboard-header-for-mobile">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option <%if @page == "top"%>active<%end%>" data-option-type="posts">
				<%= link_to "Top", root_path %>
			</li>

			<li class="profile-header-option <%if @page == "new"%>active<%end%>" data-option-type="new">
				<%= link_to "New", new_path %>
			</li>

		</ul>

	</div>

</div>


<div class="content">

	<div class="content-box">

		<div class="main-content-column">

			<div class="column-content" id="column_content_posts">

				<% if @posts.count > 0 %>

					<% @posts.each do |post| %>

						<%= render :partial => 'posts/list', :locals => {:post => post} %>

					<%end%>

					<div class="center">
	   					
	   					<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

					</div>

				<% else %>

		          <div class="empty-content">

		            <p>Subscribe to communities you find interesting to see their posts in your timeline.</p>

		            <%= link_to "See All Communities", communities_path, class: "gold-text-background" %>

		          </div>

		        <% end %>

			</div>

		</div>

		<div class="side-content-column">

			<h4>10th Nation</h4>

			<div class="content-frame stacked">

				<div class="content-panel">

					<p>Improve Your Account</p>

				</div>

			</div>

		</div>

	</div>

</div>