
<div class="profile-cover <% unless profile.has_cover_image %> empty <%end%>">

	<% if profile.has_cover_image %>
		<%= image_tag profile.cover_image.url(:large), class: "profile-cover-image" %>
	<%end%>

	<div class="profile-info">

		<ul>

			<li><%= image_tag profile.image.url(:medium), class: "profile-user-image" %></li>

			<li>

				<h2 class="name"><%= profile.display_name %></h2>

				<h3>Producer</h3>

			</li>

			<li class="for-mobile">

				<%= render 'pages/users/follow_cta_mobile' %>

			</li>


		</ul>

	</div>

</div>

<div class="profile-header" id="dashboard-header-for-mobile">

	<div class="centered-content">

		<ul>
			<li class="profile-header-option active" id="profile_option_posts" data-option-type="posts">
				<a><span class="profile-header-numbers"><%= profile.posts.count %></span><br><%= "Post".pluralize(profile.posts.count) %></a>
			</li>

			<li class="profile-header-option" id="profile_option_comments" data-option-type="comments">
				<a><span class="profile-header-numbers"><%= profile.comments.count %></span><br><%= "Comment".pluralize(profile.comments.count) %></a>
			</li>

			<li class="profile-header-option" id="profile_option_subscribers" data-option-type="subscribers">
				<a><span class="profile-header-numbers"><%= profile.followers.count %></span><br><%= "Followers".pluralize(profile.followers.count) %></a>
			</li>

		</ul>

		<%= render 'pages/users/follow_cta' %>

	</div>

	

</div>
