<div class="modal-container full" id="sidebar-nav">

	<span class="dismiss-modal">+</span>

	<div class="sidebar">

		<% if user_signed_in? %>
		
			<div class="sidebar-profile-header">

				<%= image_tag current_user.image.url(:medium), class: "tiny-profile-image" %>

				<h3><%= link_to current_user.display_name, profile_page_path(current_user.display_name) %></h3>
<!-- 				
				<ul class="header-list">
					<li><a><span class="glyphicon glyphicon-envelope" aria-hidden="true" style="margin-right: 5px;"></span>Messages</a></li>
					<li><a>Balance</a></li>
				</ul>
 -->
			</div>

			<ul class="menu-list">
				<li class="menu-option"><a href="<%= root_path %>"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 5px;"></span>Home</a></li>
				<li class="menu-option"><a href="<%= root_path %>"><span class="glyphicon glyphicon-bell" aria-hidden="true" style="margin-right: 5px;"></span>Notifications</a></li>
				<li class="menu-option"><a href="<%= communities_path %>"><span class="glyphicon glyphicon-globe" aria-hidden="true" style="margin-right: 5px;"></span>My Communities</a></li> 
				
				<ul class="sub-menu">

					<% current_user.communities_array.each do |community| %>

						<li><a href="<%= community_path(community) %>"><%= image_tag community.image.url(:medium), class: "tiny-user-image" %><%= community.name %></a></li>

					<%end%>

					<li><%= link_to "More", communities_path %></li>
				</ul>

				<li class="menu-option logout"><a data-method="delete" href='<%=destroy_user_session_path%>'>Logout</a></li>

			</ul>

		<%else%>

			<div class="sidebar-profile-header">

				<h3>10TH Nation</h3>

			</div>

			<ul>

				<li><a href="<%= communities_path %>">Communities</a></li>
				<li><a>About</a></li>
				<li><a href="<%= new_user_registration_path %>">Signup</a></li>

			</ul>

		<%end%>



	</div>


</div>