<!DOCTYPE html>
<html>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<head>
	  <title>10th Nation</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	</head>

	<body>

		<%= render 'headers/bootstrap_header' %>

		<% if user_signed_in?%>

			<%# render 'headers/sub_header' %>

		<% end %>

		<div class="content-container">

			<div class="header-offset">

				<%= yield %>

			</div>

		</div>

		<%= render 'layouts/footer' %>

		<% if user_signed_in? %>

			<%= render 'modals/upload_track_modal' %>
		
			<%= render 'modals/account_settings_modal' %>

			<%= render 'modals/new_post_modal' %>

		<%else%>

			<%= render 'modals/login_modal' %>

			<%= render 'modals/join_modal' %>

		<%end%>

		<%= render 'layouts/sidebar_nav' %>


		<%# render 'modals/audio/audio_player' %>

	</body>

</html>
