<!DOCTYPE html>
<html>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<head>
	  <title>10th Nation</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<%= render 'headers/header' %>

		<div class="content-container">

			<div class="header-offset">

				<%= yield %>

			</div>

		</div>

		<% if user_signed_in? %>

			<%= render 'modals/upload_track_modal' %>
		
			<%= render 'modals/account_settings_modal' %>

		<%else%>

			<%= render 'modals/login_modal' %>

			<%= render 'modals/join_modal' %>

		<%end%>

		<%= render 'modals/audio/audio_player' %>

	</body>

</html>
